<footer>
  <div class="container">
    <div class="footer_left">
      <ul>
        <li><a href="en/site/about">About RusThai Trading</a></li>
        <li><span data-mod="#popup_feedback_open" class="popup_open">Contacts</span></li>
        <li><a href="en/site/rules"><span>Platform rules</span></a></li>
<!--        <li><a style="text-transform: none;" href="en/site/faq">FAQs</a></li>-->
      </ul>
     <div class="footer_lang">
      </div>
      <div class="footer_copyright">
        <span>&copy; RUS THAI Business Group Co., Ltd,  2018</span>
        <span>818/81, The Master, Udom suk, Bang NA<br /> Bngkok, Thailand 10260</span>
        <Br>
        <span class="footer_made_in">Developed by teams <a href="#" target="_blank">?????</a> </span>
      </div>
    </div>
    <div class="footer_right">
      <div class="footer_social">
        <a href="#" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2500 2500">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }
              </style>
            </defs>
            <title>facebook_mini</title>
            <g data-name="Layer 2">
              <g data-name="Layer 1">
                <path class="cls-1" d="M2362,0H138A138,138,0,0,0,0,138V2362a138,138,0,0,0,138,138H1335.3V1531.9H1009.5V1154.6h325.8V876.3c0-322.9,197.2-498.7,485.3-498.7,138,0,256.6,10.3,291.1,14.9V730l-199.8.1c-156.7,0-187,74.4-187,183.7v240.9h373.6L2049.8,1532h-325v968H2362a138,138,0,0,0,138-138V138A138,138,0,0,0,2362,0Z"
                />
              </g>
            </g>
          </svg>
        </a>
        <a href="#" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 124">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }
              </style>
            </defs>
            <title>youtube_mini</title>
            <g data-name="Layer 2">
              <g data-name="Layer 1">
                <path class="cls-1" d="M172.32,19.36A22.12,22.12,0,0,0,156.76,3.7C143,0,88,0,88,0S33,0,19.24,3.7A22.12,22.12,0,0,0,3.68,19.36C0,33.18,0,62,0,62s0,28.82,3.68,42.64A22.12,22.12,0,0,0,19.24,120.3C33,124,88,124,88,124s55,0,68.76-3.7a22.12,22.12,0,0,0,15.56-15.66C176,90.82,176,62,176,62S176,33.18,172.32,19.36ZM70,88.17V35.83L116,62Z"
                />
              </g>
            </g>
          </svg>
        </a>
        <a href="#" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.51 24.65">
            <defs>
              <style>
                .cls-1 {
                  fill: #bac4d3;
                }
              </style>
            </defs>
            <title>vk</title>
            <g data-name="Layer 2">
              <g data-name="Layer 1">
                <path class="cls-1" d="M40.56,1.67c.29-1,0-1.67-1.38-1.67H34.64a2,2,0,0,0-2,1.28,38.08,38.08,0,0,1-5.58,9.29C26,11.63,25.55,12,25,12c-.29,0-.71-.33-.71-1.29v-9C24.26.51,23.93,0,23,0H15.83a1.1,1.1,0,0,0-1.16,1c0,1.1,1.64,1.35,1.81,4.43v6.69c0,1.46-.27,1.73-.84,1.73-1.54,0-5.29-5.65-7.51-12.12C7.7.51,7.26,0,6.1,0H1.56C.26,0,0,.61,0,1.28,0,2.49,1.54,8.45,7.17,16.34c3.75,5.39,9,8.31,13.85,8.31,2.89,0,3.24-.65,3.24-1.76V18.81c0-1.29.28-1.55,1.19-1.55.67,0,1.83.33,4.52,2.93,3.08,3.08,3.59,4.46,5.32,4.46h4.54c1.3,0,2-.65,1.57-1.93s-1.88-3.12-3.83-5.32c-1-1.25-2.64-2.6-3.12-3.27-.68-.87-.48-1.25,0-2C34.45,12.11,40,4.32,40.56,1.67Z"
                />
              </g>
            </g>
          </svg>
        </a>
        <a href="#" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.74 33.33">
            <defs>
              <style>
                .cls-1 {
                  fill: #bac4d3;
                }
              </style>
            </defs>
            <title>telegram</title>
            <g data-name="Layer 2">
              <g data-name="Layer 1">
                <path id="path9" class="cls-1" d="M37.06.22,1.86,13.8c-2.41,1-2.39,2.3-.44,2.9l8.78,2.74,3.36,10.3c.4,1.13.2,1.57,1.39,1.57a2.3,2.3,0,0,0,1.82-.91l4.39-4.27,9.14,6.75c1.68.92,2.89.44,3.31-1.56l6-28.25C40.22.61,38.66-.51,37.06.22ZM11.57,18.81,31.36,6.32c1-.59,1.9-.27,1.15.39L15.57,22l-.66,7Z"
                />
              </g>
            </g>
          </svg>
        </a>
<!--        <a href="#" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.63 39.9">
            <defs>
              <style>
                .cls-1 {
                  fill: #bac4d3;
                }
              </style>
            </defs>
            <title>zen</title>
            <g data-name="Layer 2">
              <g data-name="Layer 1">
                <polygon class="cls-1" points="22.63 7.15 0 0 0 7.74 15.62 12.68 0 25.01 0 28.39 0 32.75 22.63 39.9 22.63 32.16 8.24 27.61 22.63 14.89 22.63 7.15" />
              </g>
            </g>
          </svg>
        </a>-->
        <a href="#" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.88 41.88">
            <defs>
              <style>
                .cls-1 {
                  fill: #bac4d3;
                }
              </style>
            </defs>
            <title>insta</title>
            <g data-name="Layer 2">
              <g data-name="Layer 1">
                <path class="cls-1" d="M20.94,3.77c5.59,0,6.26,0,8.46.13a11.35,11.35,0,0,1,3.89.72A6.47,6.47,0,0,1,35.7,6.18a6.58,6.58,0,0,1,1.57,2.41A11.72,11.72,0,0,1,38,12.48c.1,2.21.12,2.87.12,8.46s0,6.26-.12,8.46a11.6,11.6,0,0,1-.72,3.89,7,7,0,0,1-4,4A11.6,11.6,0,0,1,29.4,38c-2.2.1-2.87.12-8.46.12s-6.25,0-8.46-.12a11.72,11.72,0,0,1-3.89-.72A6.58,6.58,0,0,1,6.18,35.7a6.47,6.47,0,0,1-1.56-2.41A11.35,11.35,0,0,1,3.9,29.4c-.11-2.2-.13-2.87-.13-8.46s0-6.25.13-8.46a11.46,11.46,0,0,1,.72-3.89,6.86,6.86,0,0,1,4-4,11.46,11.46,0,0,1,3.89-.72c2.21-.11,2.87-.13,8.46-.13m0-3.77c-5.69,0-6.4,0-8.63.13a15.36,15.36,0,0,0-5.09,1A10.65,10.65,0,0,0,1.1,7.22a15.36,15.36,0,0,0-1,5.09C0,14.54,0,15.25,0,20.94s0,6.4.13,8.64a15.24,15.24,0,0,0,1,5.08,10.18,10.18,0,0,0,2.41,3.71,10.35,10.35,0,0,0,3.71,2.41,15.33,15.33,0,0,0,5.09,1c2.23.1,2.94.12,8.63.12s6.4,0,8.64-.12a15.21,15.21,0,0,0,5.08-1,10.65,10.65,0,0,0,6.12-6.12,15.21,15.21,0,0,0,1-5.08c.1-2.24.12-2.95.12-8.64s0-6.4-.12-8.63a15.33,15.33,0,0,0-1-5.09,10.35,10.35,0,0,0-2.41-3.71A10.18,10.18,0,0,0,34.66,1.1a15.24,15.24,0,0,0-5.08-1C27.34,0,26.63,0,20.94,0Zm0,10.19A10.76,10.76,0,1,0,31.7,20.94,10.75,10.75,0,0,0,20.94,10.19Zm0,17.73a7,7,0,1,1,7-7A7,7,0,0,1,20.94,27.92ZM34.63,9.76a2.51,2.51,0,1,1-2.51-2.51A2.51,2.51,0,0,1,34.63,9.76Z"
                />
              </g>
            </g>
          </svg>
        </a>
      </div>
<!--      <span class="consult_callback popup_open" data-mod="#popup_feedback_open">
          <img src="img/icons/consult_btn_icon.png" alt="">
          <span>Feedback</span>
      </span>-->
    </div>
  </div>
</footer>
