<div class="main_content">
  <div class="searching_container">
    <div class="reglogin_container">
      <form id="registration_form" class="form_registration_0_id">
        <input type="hidden" name="_csrf-frontend" value="kJ6jUs77c3DBRjDO72VHG7kFrIHHpJG7Q3E8Kayx57LqqesZprMWIvh_Y4iCSHdIlCjH0fWJ1_4CHnB6nuaG5Q==">
        <h1 class="reglogin_title_register">Registration</h1>
        <div class="reglogin_choose_method">Fill all fields!!!</div>
        <div class="reglogin_main_info">
          <div class="row">
            <div class="searching-lg-6 searching-md-6 searching-sm-6 searching-xs-12">
              <label for="registrationform-email" class="reglogin_email_label">Email address</label>
              <div class="input_wrap">
                <div class="form-group field-registrationform-email required">
                  <input type="text" id="registrationform-email" class="" name="RegistrationForm[email]" autofocus placeholder="your@email.com" aria-required="true">
                  <p class="help-block help-block-error"></p>
                </div>
              </div>
            </div>
            <div class="searching-lg-6 searching-md-6 searching-sm-6 searching-xs-12">
              <label for="registrationform-password" class="reglogin_password_label">Password</label>
              <div class="input_wrap">
                <div class="form-group field-registrationform-password required">
                  <input type="password" id="registrationform-password" class="pass reglogin_password" name="RegistrationForm[password]" placeholder="your password" aria-required="true">
                  <p class="help-block help-block-error"></p>
                </div> <img src="/img/registration/eye.svg" class="reglogin_password_show_img" alt="">
              </div>
            </div>
            <div class="searching-lg-6 searching-md-6 searching-sm-6 searching-xs-12">
              <label for="registrationform-password" class="reglogin_confirm_label">Confirm Password</label>
              <div class="input_wrap">
                <div class="form-group field-registrationform-password required">
                  <input type="password" id="registrationform-cpassword" class="pass reglogin_password" name="RegistrationForm[cpassword]" placeholder="confirm password" aria-required="true">
                  <p class="help-block help-block-error"></p>
                </div> <img src="/img/registration/eye.svg" class="reglogin_password_show_img" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="reglogin_information_title">Fill in information about yourself</div>
        <div class="reglogin_information_block">
          <div class="row">
            <div class="ccwidget_country searching-lg-6 searching-md-6 searching-sm-6 searching-xs-12 reglogin_information_block_in">
              <label for="ccwidget_country_5ba222a6c27a4" class="reglogin_country_label">Country</label>
              <div class="input_wrap">
                <div class="form-group field-registrationform-first_name required">
                  <input type="text" id="registrationform-country" name="RegistrationForm[country]" placeholder="Country name" aria-required="true">
                  <p class="help-block help-block-error"></p>
                </div>
              </div>
            </div>
            <div class="ccwidget_city searching-lg-6 searching-md-6 searching-sm-6 searching-xs-12 reglogin_information_block_in">
              <label for="ccwidget_city_5ba222a6c27a4" class="reglogin_city_label">City</label>
              <div class="input_wrap">
                <div class="form-group field-registrationform-first_name required">
                  <input type="text" id="registrationform-city" class="pass reglogin_password" name="RegistrationForm[password]" placeholder="City name" aria-required="true">
                  <p class="help-block help-block-error"></p>
                </div>
              </div>
            </div>
            <div class="searching-lg-6 searching-md-6 searching-sm-6 searching-xs-12 reglogin_information_block_in">
              <div class="input_wrap">
                <label for="registrationform-first_name" class="reglogin_fname_label">First name</label>
                <div class="form-group field-registrationform-first_name required">
                  <input type="text" id="registrationform-first_name" class="" name="RegistrationForm[first_name]" autofocus placeholder="First name" aria-required="true">
                  <p class="help-block help-block-error"></p>
                </div>
              </div>
            </div>
            <div class="searching-lg-6 searching-md-6 searching-sm-6 searching-xs-12 reglogin_information_block_in">
              <div class="input_wrap">
                <label for="registrationform-last_name" class="reglogin_lname_label">Last name</label>
                <div class="form-group field-registrationform-last_name required">
                  <input type="text" id="registrationform-last_name" class="" name="RegistrationForm[last_name]" placeholder="Last name" aria-required="true">
                  <p class="help-block help-block-error"></p>
                </div>
              </div>
            </div>
            <div class="searching-lg-6 searching-md-6 searching-sm-6 searching-xs-12 reglogin_information_block_in">
              <div class="input_wrap registration_user_phone">
                <label for="registrationform-phone_number" class="reglogin_phone_label">Phone</label>
                <div class="form-group field-registrationform-phone_number required">
                  <input type="text" id="registrationform-phone_number" class="phone-mask" name="RegistrationForm[phone_number]" placeholder="Phone" aria-required="true" data-plugin-inputmask="inputmask_72f44228">
                  <p class="help-block help-block-error"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="btn_wrap clearfix reglogin_but">
            <button type="submit" class="next_btn" id="register_btn">Complete registration</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
