<div class="main_content">
  <div class="searching_container viewform_container">
      <div>
        <ul class="custom_breadcrumb">
          <li>
            <a href="/" class="nav-home">
              <span>Home</span>
              <i class="icon icon_separator"></i>
            </a>
          </li>
          <li>
            <a href="/profile">
              <span>Profile</span>
              <i class="icon icon_separator"></i>
            </a>
          </li>
          <li class="active">
            <span id="edit_request_label">Add a request</span>
          </li>
        </ul>
      </div>
      <div class="row" style="margin: 29px 15px 0px 15px">
        <form action="/request/create" method="post">
        <div class="searching-lg-12 searching-md-12 searching-sm-12 searching-xs-12" style="border-left: solid 1px #e6ebed;">
          <div class="viewform_right">
            <section id="viewform_1">
              <h1 id="request_info_label">Request information</h1>
              <div class="viewform_title" style="margin-top: 30px;"><img src="img/viewform/about.svg" alt=""><span id="request_description_label">Tell us about your request</span></div>
              <div class="row">
                <div class="searching-lg-12 searching-md-12 searching-sm-12 searching-xs-12">
                  <div class="viewform_title_label" id="request_title_label"> Request title</div>
                  <div class="viewform_name">
                    <div class="form-group field-workrequestlanguagetranslate-title required">
                      <label class="control-label" for="workrequestlanguagetranslate-title" id="reqest_name_label">Request name</label>
                      <textarea id="workrequestlanguagetranslate-title" class="viewform_name_area" name="title" rows="1" placeholder="I am searching for... Recommended number of characters - not more than 120" aria-required="true"></textarea>
                      <div class="help-block"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="searching-lg-8 searching-md-8 searching-sm-8 searching-xs-8 viewform_price_form_1">
                      <label for="#" id="price_label">Price</label>
                      <input type="number" id="service-price" name="price" placeholder="300"> </div>
                    <div class="searching-lg-4 searching-md-4 searching-sm-4 searching-xs-4 viewform_price_form_1">
                      <label for="#" id="currency_label">Currency</label>
                      <select class="form-control" name="currency">
                        <option value="Dollars">Dollars</option>
                        <option value="Rubles">Rubles</option>
                        <option value="Baht">Baht</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="viewform_title" style="margin-top: 30px;"><img src="img/viewform/pin.svg" style="height: 15px;" alt=""><span id="location_label">Location</span></div>
              <div class="viewform_location">
                <div class="row">
                  <div class="ccwidget_country searching-lg-6 searching-md-6 searching-sm-6 searching-xs-12 reglogin_information_block_in">
                    <label for="ccwidget_country_5ba222a6c27a4" class="reglogin_input_label" id="country_label">Country</label>
                    <div class="input_wrap">
                      <div class="form-group field-registrationform-first_name required">
                        <input type="text" id="offerCountry" name="country" placeholder="Country name" style="color: #000">
                        <p class="help-block help-block-error"></p>
                      </div>
                    </div>
                  </div>
                  <div class="ccwidget_city searching-lg-6 searching-md-6 searching-sm-6 searching-xs-12 reglogin_information_block_in">
                    <label for="ccwidget_city_5ba222a6c27a4" class="reglogin_input_label" id="city_label">City</label>
                    <div class="input_wrap">
                      <div class="form-group field-registrationform-first_name required">
                        <input type="text" id="offerCity" class="pass reglogin_password" name="city" placeholder="City name" style="color: #000">
                        <p class="help-block help-block-error"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="viewform_title"><img src="img/viewform/info.svg" style="height: 8px; width: 8px" alt=""><span id="extra_info_label">Extra information</span></div>
              <div class="viewform_information">
                <div class="row">
                  <div class="searching-lg-3 searching-md-3 searching-sm-4 searching-xs-6">
                    <div class="viewform_title_label" id="min_batch_label"> Minimum batch</div>
                    <input type="number" id="workrequest-minbatch" name="minBatch" placeholder="from"> </div>
                  <div class="searching-lg-3 searching-md-3 searching-sm-4 searching-xs-6">
                    <input type="number" id="workrequest-maxbatch" name="maxBatch" placeholder="to"> </div>
                  <div class="searching-lg-3 searching-md-3 searching-sm-4 searching-xs-12">
                    <div class="viewform_title_label" id="unit_label"> Select unit</div>
                    <select id="workrequest-unit_id" name="unit" data-placeholder="Unit">
                      <option value="gram">gram</option>
                      <option value="item">item</option>
                      <option value="kilogram">kilogram</option>
                      <option value="liter">liter</option>
                      <option value="meter">meter</option>
                      <option value="packaging">packaging</option>
                      <option value="running meter">running meter</option>
                      <option value="ton">ton</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="viewform_description">
                <div class="viewform_title_label" style="margin-top: 14px;" id="details_required"> Describe in details what you are looking for or what do you want to purchase. Specify the cost and the timing of the request.</div>
                <div class="input_wrap viewform_description_cont">
                  <textarea id="workrequestlanguagetranslate-description" class="viewform_description_area" name="description" rows="1" placeholder="Recommended number of characters from 85 to 1000"></textarea>
                  <div>0</div>
                </div>
              </div>
              <div class="viewform_description">
                <div class="viewform_title_label" style="margin-top: 14px;" id="category_label"> Category</div>
                <div class="">
                  <select id="service-category" class="" name="category" >
                    <%categories.forEach(function(data) {%>
                      <option value="<%= data.name%>"><%= data.name%></option>
                    <%})%>
                  </select>
                </div>
              </div>
              <div class="viewform_button">
                <button type="submit" id="save" class="btn_submit" data-text="Creating...">Create</button>
              </div>
            </section>
          </div>
        </div>
        </form>
      </div>
  </div>
</div>
