@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/HelveticaNeueCyr-Roman.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Thin';
  src: url("../fonts/Helvetica/HelveticaNeueCyr-Thin.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Bold';
  src: url("../fonts/Helvetica/HelveticaNeueCyr-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ALSRubl';
  src: url("../fonts/ALSRubl/ALSRubl.otf"); }
@media all and (max-width: 1340px) {
  .jumbo_form .question_block span{
    right: 26px;
    left: auto;
    top: -36px;
  }
}
@media all and (max-width: 992px) {
  .container {
    max-width: 990px;
    padding-left: 20px;
    padding-right: 20px; }
  .jumbo_counter {
    text-align: center;
    margin-left: -10px;
    margin-right: -10px; }
    .jumbo_counter_block {
      margin-right: 10px;
      margin-left: 10px; }
  .social_main .container > * {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center; }
  .social_main_descr_y{
    left: -248px;
  }
}

@media all and (max-width: 920px) {
  footer .container > * {
    display: block;
    width: 100%;
    text-align: center; }
  footer .footer_left {
    margin-bottom: 20px; } }

@media all and (max-width: 900px) {
  .services_link_item_text {
    width: 50%; } }

@media all and (max-width: 820px) {
  header .header_right_panel .header_btn {
    display: none; }
  .history_text p {
    width: 90%; } }

@media all and (max-width: 767px) {
  header .header_right_panel .language {
    display: none; }
  .jumbo_text {
    margin-top: 35px; }
  .business_links_item {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%; }
  .about {
    padding-top: 30px; }
  .video {
    margin-top: 30px; }
  .services .container, .social_main .container, .about .container, .video .container,
  footer .container{
    padding-right:20px;
    padding-left:20px;
  }
  .callback h2{margin-bottom:10px;}
  .callback p{margin-bottom:10px;}
  .social_main .container > a > span span:first-child{margin-bottom:0px;}
  .social_main_descr_y, .social_main_descr_f {top: 34px;}
}

@media all and (max-width: 750px) {
  .business_links {
    margin-bottom: 40px; }
  .consultation_img,
  .history_img {
    display: none; }
  .consultation,
  .history {
    margin-top: 20px; }
    .consultation .container,
    .history .container {
      padding: 45px 20px; }
      .consultation .container > *,
      .history .container > * {
        width: 100%;
        max-width: none;
        text-align: center; }
  .reviews {
    margin-top: 20px;
    padding-bottom: 0; }
  .reviews_slider {
    height: auto;
    margin-right: -20px;
    margin-left: -20px; }
  .reviews_slider_item {
    background: none; }
    .reviews_slider_item > .reviews_slider_item_img {
      display: block;
      text-align: center;
      width: 100%; }
      .reviews_slider_item > .reviews_slider_item_img img {
        position: relative;
        width: auto;
        height: auto;
        min-width: auto;
        min-height: auto;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        margin-bottom: -3px;
        margin-right: auto;
        margin-left: auto;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
    .reviews_slider_item_text {
      background: #fff;
      width: 100%;
      margin: 0;
      padding: 20px;
      text-align: center; }
  .social .container {
    text-align: center; }
    .social .container > * {
      display: block; }
    .social .container .social_text {
      margin-bottom: 30px; }
  .services {
    margin-top: 20px;
    padding: 30px 0; }
    .services .container .services_left {
      margin-bottom: 50px; }
    .services .container > * {
      display: block;
      width: 100%; }
    .services .services_h {
      text-align: center; } }

@media all and (max-width: 685px) {
  .jumbo_counter {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .jumbo_counter .slick-list {
      width: 78%;
      margin: auto; } }

@media all and (max-width: 650px) {
  .jumbo_form_bottom_block .jumbo_form_btn,
  .jumbo_form_bottom_block .jumbo_form_join {
    float: none;
    display: block;
    margin: auto; }
  .jumbo_form_bottom_block .jumbo_form_join {
    margin-top: 30px;
    max-width: 220px;
    position: relative;
    padding: 10px 15px;
    z-index: 10;
    line-height: 22px; }
    .jumbo_form_bottom_block .jumbo_form_join .join_img img {
      display: block;
      margin-top: -1px; }
    .jumbo_form_bottom_block .jumbo_form_join:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      opacity: 0.5;
      z-index: -1; }
  .baner {
    display: none; }
  .jumbo {
    height: 625px; }
  .jumbo_contagent_banner {
    width: 350px;
  }
  .jumbo_contagent {
    top: 416px;
  }
  .jumbo_contagent_banner_text_2{
    display: none;
  }

  .jumbo_text {
    font-size: 38px; }
  .jumbo_form_search {
    width: auto; }
    .jumbo_form_search input {
      width: 80%; }
    .jumbo_form_search button {
      width: 20%; }
  .jumbo_form_dropdown {
    min-width: 145px; }
  .jumbo_form_join {
    text-align: center;
    width: 100%; }
  .jumbo_counter {
    margin-top: 35px; }
  .jumbo_counter_block {
    margin-bottom: 20px; } }

@media all and (max-width: 600px) {
  .consultation_text h2,
  .history_text h2 {
    font-size: 14px;
    font-family: 'Helvetica';
    font-weight: bold;
    text-transform: uppercase; }
  .consultation_text p,
  .history_text p {
    width: 100%;
    margin-bottom: 25px; }
  .reviews_slider_item > .reviews_slider_item_img {
    padding-top: 30px;
    background: #fff; }
    .reviews_slider_item > .reviews_slider_item_img img {
      width: 50%; }
  .reviews_slider_item_text_name {
    font-size: 32px; }
  .about {
    padding-top: 30px; }
    .about .container > * {
      text-align: center;
      display: block;
      width: 100%;
        width-margin-bottom: 20px; }
    .about .container .about_h {
      display: block;
      font-size: 13px;
      font-family: 'Helvetica';
      text-transform: uppercase;
      color: #b2b3b6;
      font-weight: bold;
      margin-bottom: 20px; }
    .about .about_block_number {
      font-size: 0; }
    .about .about_block_h {
      max-width: none; }
  .video {
    margin-top: 10px;
    height: 205px; }
  body .video .box-video-iframe {
    height: 205px;
  }

  .video .container,
  .social_main .container {
    padding-left: 0;
    padding-right: 0; }
  .social_main_descr_f{
    left: -206px;
  }
  .callback {
    display: block;
    padding: 40px 0;
    margin: 40px 0;
    background: #e9eef0;
    text-align: center; }
    .callback h2 {
      font-size: 13px;
      font-family: 'Helvetica';
      text-transform: uppercase; }
    .callback p {
      font-size: 18px; }
    .callback span {
      display: block;
      margin: auto;
      border-radius: 3px;
      width: 205px;
      line-height: 50px;
      background: #7dc244;
      color: #fff;
      cursor: pointer;
      transition: 0.2s ease-out;
      -webkit-transition: 0.2s ease-out;
      -moz-transition: 0.2s ease-out;
      -ms-transition: 0.2s ease-out;
      -o-transition: 0.2s ease-out; }
      .callback span:hover {
        background: #649f34; }
  footer {
    padding-bottom: 45px; }
    footer nav {
      margin-bottom: 20px;
      text-align: justify; }
      footer nav:after {
        content: '';
        display: inline-block;
        width: 100%; }
      footer nav li {
        margin: 0;
        margin-bottom: 15px; }
        footer nav li a {
          padding-left: 5px;
          padding-right: 5px; }
    footer .footer_social {
      text-align: justify; }
      footer .footer_social:after {
        content: '';
        display: inline-block;
        width: 100%; }
  .footer_right {
    margin-top: 40px; }
    .footer_right .consult_callback {
      display: none; }
  .social_main .container > a {
    padding-left: 10px;
    padding-right: 10px; }
    .social_main .container > a > span {
      margin-left: 10px; } }

@media all and (max-width: 486px) {
  header .header_right_panel > * {
   }
  header .header_right_panel {
    position: relative;
    right: -23px;
  }
  header .header_left_panel .header_logo img:first-child {
    display: none; }
  header .header_left_panel .header_logo img:last-child {
    display: block; }
  .jumbo_form_search {
    width: 60%; }
  .jumbo_form_dropdown {
    width: 40%;
    min-width: auto; }
  .jumbo_counter {
    margin-top: 40px; }
  .jumbo_text {
    font-size: 34px; }
  .social_link {
    margin-right: -10px;
    margin-left: -10px; }
    .social_link a {
      margin-right: 15px; }
  footer .footer_social a {
    margin-right: 0px; }
  footer nav li a span {
    display: none; }
  footer .footer_copyright {
    text-align: left; }
    footer .footer_copyright span {
      line-height: 25px; } }

/*# sourceMappingURL=media.css.map */

header .header_left_panel .header_logo{
  max-width: 290px;
}
header .header_left_panel .header_logo img{
  width: 100%;
  height: 100%;
}

.jumbo{
  position: relative;
  overflow: hidden;
}
.jumbo video{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  /*right: 0;*/
  /*bottom: 0;*/
  left: 50%;
  z-index: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.jumbo .container{
  position: relative;
  z-index: 10;
}

.jumbo_counter{
  /*margin-top: 20%;*/
}

.jumbo_form_dropdown{
  top: 0;
}
.jumbo_form_search,
.jumbo_form_dropdown{
  vertical-align: top;
}
.suggestions_services_item_review{
  width: 100%;
  /*text-align: center;*/
  padding-left: 15px;

}
.jumbo_form_search input{
  font-size: 14px !important;
  height: 59px;
  padding: 20px;
}

.jumbo_form .question_block{
  /*padding-top: 3px;*/
  /*padding-bottom: 2px;*/
  line-height: unset;
  height: 20px;
  width: 20px;
}
.jumbo_form .question_block i{
  display: block;
  position: absolute;
  top: 3px;
  left: 6px;
  /*	-webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);*/
}
.about{
  /*padding-top: 35px;*/
}

.about .container .about_h{
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #b2b3b6;
  margin-bottom: 35px;
}

.jumbo_form_dropdown .dropdown_menu{
  background: #e9eef0;
}
.jumbo_form_dropdown .dropdown_menu ul li .search-row__dropdown-button:hover{
  background: #fff;
}

.suggestions_services_item_text h2 a{
  font-size: 16px;
  font-weight: bold;
  font-family: "HelveticaNeueCyr", sans-serif;
}

.business_links{
  padding-top: 35px;
}
.business_links .container{
  padding-left: 0;
  padding-right: 0;
}
.social .container{
  max-width: 910px;
}
.about .container,
.video .container,
.social_main .container,
.services .container{
  padding-left: 20px;
  padding-right: 20px;
}

.suggestions_services_item_text h2 a{
  letter-spacing: 0.1px;
}
.suggestions_services_item_text p{
  /*font-family: 'Helvetica';*/
  letter-spacing: 0.3px;
  line-height: 18px;
  height: 54px;
}
.suggestions_services_item_operator_text .oper_name a{
  letter-spacing: 0.3px;
}
.consultation_text {
  max-width: 410px;
}
.consultation_text p,
.history_text p{
  font-family: 'Helvetica Light';
  letter-spacing: 0.3px;
  line-height: 22px;
}
.about_block_h{
  line-height: 24px;
}
.about_block_text{
  letter-spacing: 0.1px;
  line-height: 20px;
}
.about .container > *{
  width: 30.5%;
}
.services .container > *{
  width: 47%;
}

.chat_wraper .output_field{
  overflow: auto;
}


.social_main .container .social_main_youtube img{
  max-width: 215px;
  width: 52%;
}
.suggestions_services_item_review{
  background: #f6f7f9;
  opacity: 0.85;
}

.business_links{
  padding-top: 60px;
}

.business_links .suggestions_h{
  margin-bottom: 30px;
}
header .header_right_panel .dialog{
  padding-top: 18px;
}
header .header_right_panel .language .language_name{
  font-size: 12px;
  font-family: 'Helvetica';
  font-weight: 700;
  color: #b2b3b6;
}
header .header_right_panel .header_btn button a{
  font-weight: 600;
  letter-spacing: 0.8px;
}
header .header_right_panel .header_btn{
  padding-left: 20px;
}
header .header_right_panel .header_btn .header_btn_enter{
  margin-right: 5px;
}
.jumbo_text{
  line-height: 105%;
}
.jumbo_form_bottom_block .jumbo_form_join{
  font-family: 'Helvetica';
  /*font-weight: 600;*/
}
.jumbo_form_bottom_block .jumbo_form_join .join_name{
  font-family: 'Helvetica Bold';
}
.jumbo_form_bottom_block .jumbo_form_btn{
  font-size: 11px;
  font-family: 'Helvetica Bold';
  letter-spacing: 0.5px;
  max-width: 220px;
}

.callback h2{
  display: block;
  font-size: 13px;
  font-family: 'Helvetica';
  text-transform: uppercase;
  color: #b2b3b6;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 0.4px;

}
.reviews_slider_item_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.social_main .container a img{
  height: 62px;
}
.social_main .container a{
  padding-left: 52px;
}

.reviews_slider_item_text_slogan{
  overflow: hidden;
}
.jumbo_form_bottom_block .jumbo_form_join .join_name{
  color: #fff;
}



@media (max-width: 1280px){
  body .main_content {
    margin-top: 0;
  }
}




@media (max-width: 992px){
  .social{
    padding-left: 20px;
    padding-right: 20px;
  }
  .reviews_h{
    text-align: center;
  }
  .about .container .about_h{
    text-align: center;
    width: 100%;
  }


  .social .container{
    max-width: none;

  }
}
@media (max-width: 940px){
  .services .services_h{
    font-size: 26px;
  }
}
@media (max-width: 775px){
  .services .services_h{
    font-size: 24px;
  }
}
@media (max-width: 750px){
  .reviews_slider_item > .reviews_slider_item_img {
    height: 200px;
  }
  .reviews_slider_item > .reviews_slider_item_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .services .container > *{
    width: 100%;
  }
  .reviews_slider_item_text_work{
    height: 30px;
  }
  .reviews_slider_item_text_slogan{
    height: 150px;
  }


}


@media (max-width: 600px){
  .social_main .container a{
    padding-left: 10px;
  }
  .reviews_slider_item > .reviews_slider_item_img {
    padding-top: 0px;
  }
  .reviews_slider_item_text_name{
    /*display: none;*/
  }
  .reviews_slider_item_text_work{
    /*display: none;*/
  }
  .reviews_slider_item_text_slogan{
    margin-top: 0;
  }
  footer nav {
    margin-bottom: 0;
    text-align: justify;
  }
  .video .container,
  .social_main .container,
  .social{
    padding-left: 0;
    padding-right: 0;
  }

  .services .services_h{
    display: block;
    font-size: 13px;
    font-family: 'Helvetica';
    text-transform: uppercase;
    color: #b2b3b6;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .services_text{
    text-align: center;

  }
}

@media (max-width: 650px){
  .jumbo_form_bottom_block .jumbo_form_btn{
    text-align: center;
  }
}

@media (max-width: 486px){
  header .header_left_panel .header_logo img:last-child {
    display: block;
    max-width: 145px;
  }
  .about_block_text{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }

}

@media (max-width: 600px){
  .about .container > * {
    text-align: center;
    display: block;
    width: 100%;
    width-margin-bottom: 20px;
  }
}

@media (max-width: 585px){
  .reviews_slider_item_text_slogan{
    height: 180px;
  }
}
@media (max-width: 470px){
  .reviews_slider_item_text_slogan{
    height: 210px;
  }
  .social_main_descr_y {
    left: -188px;
  }

}
@media (max-width: 400px){
  .reviews_slider_item_text_slogan{
    height: 240px;
  }
}

@media (max-width: 600px){
  .jumbo video{
    display: none;
  }
}
@media (max-width: 800px){
  .services_h {
    min-height: 52px;
  }
}
@media (max-width: 750px){
  .services_h {
    min-height: 0;
  }
}



@media (max-height: 752px) and (max-width: 650px){
  .jumbo_text{
    margin-top: 40px;
    font-size: 26px;
  }
  .jumbo_counter{
    margin-top: 30px;
  }
}


footer ul li a{display: block;}
/*.jumbo_form_search ::-webkit-input-placeholder,*/
input::-moz-placeholder {
  color: #909090;
}
header .header_left_panel a{
	padding-top: 7px;
}
header .header_right_panel .header_btn_enter{
	width: auto;
}
header .header_right_panel .header_btn button{
	padding-left: 16px;
	padding-right: 16px;
}
header .header_right_panel .header_btn .header_btn_enter{
	margin-right: 6px;
}
.suggestions_services_item_operator_text .oper_name a{
	color: #319b42;
}
.suggestions_services_item{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	width: 32.6%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	text-align: left;
}
.suggestions .container{
	max-width: 980px;
}

.business_links_item:before{
	height: 2px;
}

.business_links_item p{
	color: #000;
	line-height: 21px;
}

.business_links_item_text{
	line-height: 21px;
}
.consultation_img{
	overflow: hidden;
}

.consultation_img img {
	margin-bottom: -4px;
}
.history_img img{
	margin-bottom: 0;
}
.reviews_slider{
	/*margin-top: 73px;*/
}
.slick-dots{
	top: -56px;
}
.reviews_slider_item_text_slogan{
	font-size: 18px;
}

.about_block_number{
	color: #b2b3b6;
}
.about_block_h{
	margin-top: 20px;
}
.about_block_text{
	margin-top: 10px;
}
.video{
	margin-top: 90px;
}
.social .container{
	max-width: 950px;
}

.about .container,
.video .container,
.social_main .container,
.services .container,
.main_page_export_section .container{
	max-width: 990px;
	padding-left: 20px;
	padding-right: 20px;
}

.services_link_item_text{
	line-height: 20px;
}
.services_text{
	line-height: 20px;
}
.jumbo_form_dropdown .dropdown_btn i{
	-webkit-transform: scale(1, 1.6);
	-ms-transform: scale(1, 1.6);
	-o-transform: scale(1, 1.6);
	transform: scale(1, 1.6);
	top: -5px;
}
.jumbo_form_dropdown .dropdown_btn.active i{
	-webkit-transform: rotate(-180deg) scale(1, 1.5);
	-ms-transform: rotate(-180deg) scale(1, 1.5);
	-o-transform: rotate(-180deg) scale(1, 1.5);
	transform: rotate(-180deg) scale(1, 1.5);
	top: 8px;
}
.jumbo_form_bottom_block .jumbo_form_join .join_name{
	vertical-align: top;
}
.jumbo_form_bottom_block .jumbo_form_join .join_img{
	margin-top: -2px;
}

.reviews{
	/*padding-top: 40px;*/
	padding-bottom: 50px;
}


.ytp-cued-thumbnail-overlay{
	width: 101%;	
	left: -1px;	
}
	
.reviews_slider .slick-dots li{
	top: -9px;
}

.services_link_item_notific{
	padding-left: 1px;
	/*padding-top: 1px;*/
	height: 23px;
	/*line-height: unset;*/
}
.services_text{
	text-align: left;
}
.about_block_number{
	border-bottom: 1px solid #eceef1;
}
section.services a.services_btn{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.3px;
}
.suggestions_services_item_img .service_img{
	border-radius: 0;
}
.services_link_item{
	display: table;
}
.services_link_item:hover{
	text-decoration: none;
}
.services_link_item > *{
	display: table-cell;

}
.services_link_item_img{
	text-align: center;
}
.services_link_item_img img{
	position: static;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.services_link_item_text{
	padding-left: 25px;
}


.services_search form button img{
	width: 20px;
	height: 20px;
}

.services_search form button{
	position: relative;
}
.services_search form button img{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 21px;
	left: 21px;
	-webkit-transition: all 0.2s ease;
	 -o-transition: all 0.2s ease;
	 transition: all 0.2s ease; 
}
.services_search form button img:last-child{
	opacity: 0;
}
.services_search form button:hover{
	border-radius: 0;
	background: transparent;
}

.services_search form button:hover img{
	opacity: 1;
}

.social_link a{
	background: none;
	vertical-align: middle;
	height: auto;
}
.social_link a:hover polygon,
.social_link a path{
		-webkit-transition: all 0.2s ease;
	 -o-transition: all 0.2s ease;
	 transition: all 0.2s ease; 
}
.social_link a:hover:after{
	width: 0;
}
.social_link a:hover polygon,
.social_link a:hover path{
	fill: #80c348
}

.social_link a:nth-child(5){
	margin-top: 5px;
}

/*.social_link a:nth-child(1):hover{
	background: url(https://test.bbp.tools/img/home/vk_hover.svg) no-repeat;
	background-position: 0 9px;
	-webkit-background-size: 95%;
	background-size: 95%;
}
.social_link a:nth-child(2):hover{
	background: url(https://test.bbp.tools/img/home/telegram_hover.svg) no-repeat;
	background-position: 0 3px;
	-webkit-background-size: 100%;
	background-size: 100%;
}*/
/*.social_link a:nth-child(3):hover{
	background: url(../img/home/vk_hover.svg) no-repeat;
	background-position: 0 0;
	-webkit-background-size: contain;
	background-size: contain;
}*/
/*.social_link a:nth-child(4):hover{
	background: url(https://test.bbp.tools/img/home/insta_hover.svg) no-repeat;
	background-position: 0 9px;
	-webkit-background-size: 95%;
	background-size: 95%;
}
.social_link a:nth-child(5):hover{
	background: url(https://test.bbp.tools/img/home/youku_hover.svg) no-repeat;
	background-position: 0 9px;
	-webkit-background-size: 95%;
	background-size: 95%;
}
*/


.services_left .services_link .services_link_item:first-child .services_link_item_img img{
	width: 100%;
	height: 100%;
}
.services_left .services_link .services_link_item:nth-child(2) .services_link_item_img img{
	width: 85px;
	height: 64px;
}
.services_left .services_link .services_link_item:nth-child(3) .services_link_item_img img{
	width: 68px;
	height: 62px;
}
.services_left .services_link .services_link_item:nth-child(4) .services_link_item_img img{
	width: 85px;
	height: 50px;
}

.services_right .services_link .services_link_item:nth-child(3) .services_link_item_img img{
	width: 59px;
	height: 64px;
}
.services_right .services_link .services_link_item:nth-child(4) .services_link_item_img img{
	width: 81px;
	height: 63px;
}
.services_right .services_link .services_link_item:nth-child(5) .services_link_item_img img{
	width: 85px;
	height: 70px;
}
.services_right .services_link .services_link_item:nth-child(6) .services_link_item_img img{
	width: 60px;
	height: 63px;
}
.business_links_item_img img{
	height: 85%;
	width: 100%;
}

.jumbo_form_dropdown .dropdown_btn:hover{
	font-weight: normal;
}

header .header_right_panel .dialog{
width: 75px;
}

header .header_right_panel .dialog img{
	position: absolute;
	width: 24px;
	height: 24px;
	-webkit-transition: all 0.2s ease;
	 -o-transition: all 0.2s ease;
	 transition: all 0.2s ease; 
}
header .header_right_panel .dialog img:last-child{
	opacity: 0;
}
header .header_right_panel .dialog:hover img:last-child{
	opacity: 1;
}

.jumbo_form_search button{
	position: relative;
}
.jumbo_form_search button img{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 21px;
	left: 21px;
	-webkit-transition: all 0.2s ease;
	 -o-transition: all 0.2s ease;
	 transition: all 0.2s ease; 
}
.jumbo_form_search button img:last-child{
	opacity: 0;
}
.jumbo_form_search button:hover{
	border-radius: 0;
	background: transparent;
}

.jumbo_form_search button:hover img{
	opacity: 1;
}
header .header_right_panel .header_btn button{
	background: #7dc244;
	color: #fff;
}
header .header_right_panel .header_btn button:hover{
	background: #319b42;
}

.jumbo_form_dropdown .dropdown_btn img{
	display: inline-block;
	width: 10px;
	height: 10px;
	-webkit-transition: all 0.2s ease;
	 -o-transition: all 0.2s ease;
	 transition: all 0.2s ease;
}

.jumbo_form_dropdown .dropdown_btn.active img{
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.suggestions_services_item_img:after{
	pointer-events: none;
}
.suggestions_services_item .suggestions_services_item_text a,
.suggestions_services_item .suggestions_services_item_operator_text .oper_name a{
		-webkit-transition: all 0.2s ease;
	 -o-transition: all 0.2s ease;
	 transition: all 0.2s ease;
}

/*.suggestions_services_item:hover .suggestions_services_item_text a,
.suggestions_services_item:hover .suggestions_services_item_operator_text .oper_name a{
	color: #7dc244;
	text-decoration: none;

}*/

.suggestions_services_item .suggestions_services_item_text a:hover,
.suggestions_services_item .suggestions_services_item_operator_text .oper_name a:hover{
	color: #7dc244;
	text-decoration: none;
}

.consultation_text .consult_callback:hover{
	background: #89d04d;
}
.history_text .history_callback:hover{
	background: #89d04d;
}
section.services a.services_btn:hover{
	background: #89d04d;
}

footer .consult_callback:hover{
	background: #89d04d;
}

footer nav li a:hover{
	color: #89d04d;
}

.video iframe.video_block body{
	left: -1px !important; 
}
.video iframe.video_block body .html5-video-player{
	width: 101% !important;
	height: 101% !important;
}

footer .footer_social a{
	background: none;
	vertical-align: middle;
	height: auto;
}
footer .footer_social a polygon,
footer .footer_social a path{
	fill: #fff;
		-webkit-transition: all 0.2s ease;
	 -o-transition: all 0.2s ease;
	 transition: all 0.2s ease;
}
footer .footer_social a:hover polygon,
footer .footer_social a:hover path{
	fill: #89d04d;
}
footer .footer_social a:hover:after{
	width: 0;
}
.social_link a:nth-child(3){
	width: 23px;
}
footer .footer_social a:nth-child(5){
	width: 20px;
}
footer .footer_social a:nth-child(7){
	margin-top: 5px;
}
.footer_social{
	margin-top: -5px;
}
footer .consult_callback{
	margin-top: 37px;
}

.social_main_facebook path{
	fill: #fff	
}
.social_main_youtube path.cls-1{
	fill: red
}
.social_main_facebook div div{
	color: #5070b4;
}
.social_main_youtube div div{
	color: #7d8ba9;

}
.social_main a div div{
	margin-top: 10px;
}
header .header_left_panel .menu_button img{
	width: 24px;
}
header .header_right_panel .header_btn .header_btn_enter{
	    background: #e9eef0;
}
header .header_right_panel .header_btn .header_btn_enter:hover{
    background: #7dc244;
}
.video .box-video-iframe{
	height:534px;
     overflow: hidden;
}
.video .box-video-iframe .video_block{
    margin: -1px -1px;
}

@media (max-width: 870px){
	header .header_right_panel .header_btn {
		display: none;
	}
}

@media (max-width: 992px){
	.suggestions_services_item {
		width: 100%;
		max-width: 450px;
		display: block;
		margin: 0 auto 15px;
	}
	.suggestions_services_item_text h2 a {
	/*display: block;*/
	line-height: 16px;
	font-size: 14px;
}
}

@media (max-width: 550px){
	.jumbo_form_search button img{
		
		 left: 0px;
	}
}
@media (max-width: 430px){
  .social_main .container > a:last-child > span{
    display: none;
  }
}