.main_content .searching_container{
    overflow: hidden;
}
.searching_map{
    min-height: 30px;
}
.searching_sort_panel{
    display: table;
    width: 100%;
    margin-bottom: 22px;
}
.searching_sort_panel_count{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #c7c8cb;
    position: relative;
    right: 8px;
}
.searching_sort_panel_body{
    display: table-cell;
    text-align: right;
}
.searching_sort_panel_body img{
    height: 13px;
    cursor: pointer;
}
.searching_sort_panel_block{
    margin-right: 10px;
}

.searching_sort_panel_block.active .searching_sort_panel_block_active {display: inline;}
.searching_sort_panel_list.active .searching_sort_panel_list_active {display: inline;}
.searching_sort_panel_block.active .searching_sort_panel_block_deactive {display: none;}
.searching_sort_panel_list.active .searching_sort_panel_list_deactive {display: none;}
.searching_sort_panel_block.deactive .searching_sort_panel_block_active {display: none;}
.searching_sort_panel_list.deactive .searching_sort_panel_list_active {display: none;}
.searching_sort_panel_block.deactive .searching_sort_panel_block_deactive {display: inline;}
.searching_sort_panel_list.deactive .searching_sort_panel_list_deactive {display: inline;}

.searching_container .profile_service .profile_service_item{
    float: none;
}

/*-------------------------***----------------*/
/*---------------Serch new item---------------*/
/*-------------------------***----------------*/
.last_added{
    padding-right: 12px;
}

.searching_card_item{
    width: 310px;
    height: 281px;
    border: solid 1px #e6ebed;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
}
.searching_card_item_image {
    height: 170px;
    display: block;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.searching_card_item_greyline{
    display: table;
    width: 100%;
    height: 30px;
    background-color: #e6ebed;
}
.searching_card_item_greyitem{
    display: table-cell;
    width: 100%;
    height: 30px;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    color: #c7c8cb;
    padding-left: 16px;
}
.searching_card_item_glass {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: #4279c6;
    opacity: 0.3;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}
.searching_card_item_glass:hover {
    opacity: 0;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}
.searching_card_item_title{
    display: inline-block;
    text-align: left;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    width: 276px;
    margin: 14px 16px 4px 16px;
    height: 34px;
    overflow: hidden;
    color: #000000;
}
.searching_card_item_title a, .searching_card_item_title a:hover,searching_card_item_title a:focus{text-decoration: none; color: #000000}

.searching_card_item_description{
    display: inline-block;
    text-align: left;
    font-size: 14px;
    margin: 0 16px;
    height: 56px;
    overflow: hidden;
    line-height: 18px;
    color: #000000;
    width: 276px;
}

.searching_card_item_price{
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin: 7px 16px 4px 16px;
    height: 18px;
    overflow: hidden;
    color: #000000;
}

.searching_card_item_footer{
    position: absolute;
    height: 68px;
    bottom: 0;
    width: 100%;
    display: table;
    border-top: 1px solid #e6ebed;
}
.searching_card_item_footer_avatar{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding-left: 16px;
    width: 50px;
}
.searching_card_item_footer_avatar div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c7c8cb;
    position: relative;
}
.searching_card_item_footer .searching_card_item_footer_avatar i{
    width: 20px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -10px;
}
.searching_card_item_footer_info{
    display: table-cell;
    height: 100%;
    text-align: left;
    vertical-align: middle;
    padding-left: 14px;
}
.searching_card_item_footer_info_name {
    font-size: 14px;
    font-weight: 600;
    color: #319b42;
}
.searching_card_item_footer_info_town {
    font-size: 14px;
    margin-top: 3px;
}
.searching_card_item_footer_chat{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding-right: 16px;
    text-align: right;
}

.searching_card_item_footer_chat a img, .searching_card_item_footer_chat span img {
    width: 25px;
    height: 26px;
    cursor: pointer;
}

/*-------------------------***--------------------*/
/*---------------Search new item end---------------*/
/*-------------------------***--------------------*/
/*-------------------------***--------------------*/
/*---------------Search new item line-------------*/
/*-------------------------***--------------------*/
.searching_list{
    padding-left: 0px;
    padding-right: 15px!important;
    width: 100%;
}
.searching_list .searching_card_item{
    width: 100%;
    height: 60px;
    border: solid 1px #e6ebed;
    margin-bottom: 9px;
    position: relative;
    overflow: hidden;
}
.searching_list .searching_card_item_image,.searching_list .searching_card_item_description {
    display: none;
}
.searching_list .searching_card_item_footer_chat{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding-right: 17px;
    text-align: right;
    width: 58px;
    border-left: 1px solid #e6ebed;
}
.searching_list .searching_card_item_footer {
    position: absolute;
    height: 60px;
    bottom: 0;
    right: 0;
    width: 500px;
    display: table;
    border-top: 1px solid #e6ebed;
}
.searching_list .searching_card_item_greyline {
    display: table;
    position: absolute;
    right: 84px;
    top: 6px;
    width: auto;
    height: 30px;
    background-color: transparent;
}
.searching_list .searching_card_item_price {
    display: inline-block;
    width: auto;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    margin: 7px 16px 4px 16px;
    height: 18px;
    overflow: hidden;
    color: #000000;
    position: absolute;
    right: 69px;
    bottom: 5px;
}
.searching_list .searching_card_item_title {
    display: table;
    text-align: left;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    width: 276px;
    margin: 0;
    height: 60px;
    overflow: hidden;
    color: #000000;
}
.searching_list .searching_card_item_title a {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
    padding-left: 15px;
}
.last_added.line{
    padding-right: 0px;
}
@media (max-width: 1280px) {
 .searching_list .searching_card_item_greyline,.searching_list .searching_card_item_price{
     display: none;
 }
}


/*-------------------------***--------------------*/
/*---------------Search new item line end---------*/
/*-------------------------***--------------------*/

/*-------------------------***----------------*/
/*---------------map start--------------------*/
/*-------------------------***----------------*/


.searching_map_container{
    margin: 27px auto;
    position: relative;
    height: 130px;
    overflow: hidden;
}
.searching_map_container #work-map{
    position: relative;
    top: -84%;
}
.searching_map_container.map_on #work-map{
    top: auto;
}
.searching_map_container.map_on{
    height: 500px;
}
.searching_map_display{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4279c6;
    opacity: 0.3;
    cursor: pointer;
}
.searching_map_button{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #7dc244;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.searching_map_button:hover{
    background-color: #319b42;
}
.map_button_invert{
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*-------------------------***----------------*/
/*---------------map end----------------------*/
/*-------------------------***----------------*/

/*-------------------------***--------------------*/
/*--------------------Filter start----------------*/
/*-------------------------***--------------------*/

.searching_filter_title{
    color: #c7c8cb;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.jq-selectbox__select-text {
    color: #4b5664;
    font-size: 15px;
}
.aside_menu_search .jq-selectbox__trigger-arrow{
    background: url(../img/search/dropdown.svg) no-repeat 50% 50%;
    width: 8px;
    height: 6px;
}
.aside_menu_search .jq-selectbox.opened .jq-selectbox__trigger-arrow{
    background: url(../img/search/dropdown.svg) no-repeat 50% 50%;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.aside_menu_search .filter_section_wrap .section_item .item_select .jq-selectbox__select{
    border-radius: 3px;
}
.aside_menu_search .price_input{
    position: relative;
}
.aside_menu_search .price_input input{
    position: relative;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    width: 100%;
    height: 35px;
    padding: 0;
    font-size: 15px;
}
.searching_price_title {
    position: absolute;
    top: 11px;
    left: 15px;
    font-size: 15px;
    letter-spacing: 0.1px;
    color: #4b5664;
    z-index: 9;
}
.aside_menu_search .price_input .searching_price_from{
    padding-left: 58px;
    padding-right: 10px;
}
.aside_menu_search .price_input .searching_price_to{
    padding-left: 10px;
    padding-right: 10px;
}
.price_input_till_container{
    padding-left: 0;
}
.searching_rating{
position: relative;
border-radius: 3px;
border: 1px solid #d8d8d8;
width: 100%;
height: 35px;
padding: 0;
font-size: 15px;
margin-top: 9px;
}
.searching_rating_title{
    position: absolute;
    top: 11px;
    left: 15px;
    color: #4b5664;
}
.filter-rating-input {
    text-align: left;
    padding-right: 10px;
    padding-left: 65px;
    position: relative;
    top: 10px;
}
#banner-carousel img{
    width: 100%;
}
.aside_menu_search .jq-checkbox.searching_checkbox_relative{
    position: absolute;
    top: 32%;
}
.section_item_category {
    margin-left: 20px;
}
.aside_menu_search .category_wrap{
    margin-top: 19px;
}
.aside_menu_search .category_wrap .item_title i {
    position: absolute;
    right: 19px;
    top: 45%;
}
.filter_catalog_relative_on{
    background: url(../img/icon/check_select.svg) no-repeat;
    background-position: 0% 100%;
    -webkit-background-size: cover;
    background-size: cover;
}

.item_list_level_2 span{
    margin-left: 8px;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.category_wrap .item_list_level_2 .item_title{
 border: none;
}

.input_wrap.serching_end_category{
    margin-top: 13px;
    margin-bottom: 13px;
}

.item_list_level_2 .item_list_level_2{
    margin-left: 27px;
}
.aside_menu_search .carousel{
    padding-left: 20px;
}

.searching_checkbox_relative.checked{
    background: url(../img/icon/check_select.svg) no-repeat;
    background-position: 0% 100%;
    -webkit-background-size: cover;
    background-size: cover;
}

.filter_hide {
    color: #319b42;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    width: 100%;
    border-radius: 3px;
    border: 1px solid;
    display: none;
}


.searching_filter_toggle_cell p {
    position: relative;
    bottom: 4px;
    margin-left: 11px;
}

.search_result .searching_filter_toggle, .searching_filter_toggle_cell{display: none;}

#work-search-filter .date-range-type label:first-child {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#work-search-filter .date-range-type label:last-child {
    margin-right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#work-search-filter .date-range-type label {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 36px;
    margin: 0 1px;
    background-color: white;
    color: #319b42;
    font-size: 15px;
    cursor: pointer;
    border: solid 1px #319b42;
}
#work-search-filter .date-range-type label.active {
    background-color: #319b42;
    color: white;
}
.aside_menu_search .filter_section_wrap .section_item  .searching_request_date input {
    position: relative;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    width: 100%;
    height: 35px;
    padding: 0;
    font-size: 15px;
}
.searching_request_date_input label, .searching_request_date_from label{
    display: none;
}
.searching_request_date_title {
    position: absolute;
    top: 11px;
    left: 15px;
    font-size: 15px;
    letter-spacing: 0.1px;
    color: #4b5664;
    z-index: 9;
}
.field-worksearch-from_date{
    position: relative;
}
.searching_request_date_from{
    position: relative;
}
#worksearch-from_date {
    padding-left: 58px;
    padding-right: 10px;
}
#worksearch-to_date{
    position: relative;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    width: 100%;
    height: 35px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.searching_request_date_till_container{
    padding-left: 0;
}
.searching_request_date_from .form-group{
    margin-bottom: 0;
}

.more_work_link {
    display: block;
    margin: 10px auto 30px;
    width: 245px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: #7dc244;
    border-radius: 5px;
    cursor: pointer;
}
/*-------------------------***--------------------*/
/*--------------------Filter end------------------*/
/*-------------------------***--------------------*/

@media (max-width: 960px) {
    .search_result .search_filter .aside_menu_search{border: none;}
    .menu_search_toggle {display: none;}
    .last_added,.searching_sort_panel{ width: 645px; margin: 0 auto;}
    .searching_sort_panel { padding: 27px 7px 20px 7px; }
    .search_result .searching_filter_toggle{
        display: table;
        width: 100%;
    }
    .last_added {
        padding-right: 0px;
    }
    .searching_sort_panel_count{position: inherit;}
    .searching_filter_toggle_cell{
        display: table-cell;
        width: 100%;
        height: 44px;
        background-color: #e6ebed;
        color: #319b42;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .searching_filter_toggle_cell *{
        display: inline-block;
    }
    .search_result .filter_section_wrap .section_item button.filter_reset{
        width: 270px;
        margin: 29px auto;
    }
    .search_result .filter_hide{
        display: block;
        width: 270px;
        margin: 0 auto;
    }
}
@media (max-width: 670px) {
    .last_added, .searching_sort_panel{ width: 310px; margin: 0 auto;}
    .searching_sort_panel { padding: 20px 0; }
}

@media (max-width: 1100px) {
    .searching_container.search_result .content_header {
        margin-top: 60px;
    }
}
