<section>
  <div class="content-wrapper">
    <div class="content-heading">
      <%- include('../../includes/language.ejs') -%>
        <span data-localize="sitesetting.HEAD">Site Setting</span>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <form role="form" action="/admin/site/change" method="post" enctype='multipart/form-data'>
              <div class="form-group">
                <label data-localize="sitesetting.TITLE">Blog Title</label>
                <input type="text" placeholder="Title Name" name="title" class="form-control" value="<%= header%>" required>
              </div>
              <div class="form-group">
                <label data-localize="sitesetting.LOGO">Blog Logo</label>
                <input type="file" class="form-control" name="image">
              </div>
              <button type="submit" class="btn btn-sm btn-info" data-localize="sitesetting.BUTTON">Change</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>i
