<!--<div class="pull-right">
  <div class="btn-group">
    <div class="lang_select header_lang" id="header_lang">
      <div id="google_translate_element"></div>
    </div>
  </div>
</div>-->
<div class="pull-right">
  <div class="btn-group">
    <button type="button" data-toggle="dropdown" class="btn btn-default">
      <img src="/img/icons/usa.svg" alt="" id="language_flag" style="width: 20px;"> English</button>
    <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
      <li><a href="#" data-set-lang="en">
        <img src="/img/icons/usa.svg" alt="" id="language_flag" style="width: 20px;"> English</a>
      </li>
      <li><a href="#" data-set-lang="es">
        <img src="/img/icons/russian.svg" alt="ru" class="language-menu__country-flag" style="width: 20px">Thai</a>
      </li>
      <li><a href="#" data-set-lang="ru">
        <img src="/img/icons/usa.svg" alt="en" class="language-menu__country-flag" style="width: 20px">Russian</a>
      </li>
    </ul>
  </div>
</div>
