<aside class="aside">
  <div class="aside-inner">
    <nav data-sidebar-anyclick-close="" class="sidebar">
      <ul class="nav">
        <li class="nav-heading ">
          <span data-localize="sidebar.heading.HEADER">Main Navigation</span>
        </li>
        <li class=" ">
          <a href="/admin" title="Dashboard">
            <em class="icon-speedometer"></em>
            <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
          </a>
        </li>
        <li class=" ">
          <a href="#category" title="Layouts" data-toggle="collapse">
            <em class="icon-layers"></em>
            <span data-localize="sidebar.nav.CATEGORY">Category</span>
          </a>
          <ul id="category" class="nav sidebar-subnav collapse">
            <li class=" ">
              <a href="/admin/category/add" title="Horizontal">
                <span data-localize="sidebar.nav.category-content.ADD">Add</span>
              </a>
            </li>
            <li class=" ">
              <a href="/admin/category/view" title="Horizontal">
                <span data-localize="sidebar.nav.category-content.VIEW">View</span>
              </a>
            </li>
          </ul>
        </li>
        <li class=" ">
          <a href="#admin" title="Layouts" data-toggle="collapse">
            <em class="icon-user-follow"></em>
            <span data-localize="sidebar.nav.ADMIN">Admin</span>
          </a>
          <ul id="admin" class="nav sidebar-subnav collapse">
            <li class=" ">
              <a href="/admin/new/add" title="Horizontal">
                <span data-localize="sidebar.nav.admin-content.ADD">Add</span>
              </a>
            </li>
            <li class=" ">
              <a href="/admin/new/view" title="Horizontal">
                <span data-localize="sidebar.nav.admin-content.VIEW">View</span>
              </a>
            </li>
          </ul>
        </li>
        <li class=" ">
          <a href="#sitesetting" title="Layouts" data-toggle="collapse">
            <em class="fa fa-anchor"></em>
            <span data-localize="sidebar.nav.SITE">Site</span>
          </a>
          <ul id="sitesetting" class="nav sidebar-subnav collapse">
            <li class=" ">
              <a href="/admin/site" title="Horizontal">
                <span data-localize="sidebar.nav.site-content.SETTING">Change Setting</span>
              </a>
            </li>
          </ul>
        </li>
        <li class=" ">
          <a href="#setting" title="Layouts" data-toggle="collapse">
            <em class="icon-settings"></em>
            <span data-localize="sidebar.nav.SETTING">Setting</span>
          </a>
          <ul id="setting" class="nav sidebar-subnav collapse">
            <li class=" ">
              <a href="/admin/setting" title="Horizontal">
                <span data-localize="sidebar.nav.setting-content.PROFILE">Profile</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
